/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&i2c0 {
    
    node1: node1@50{
        compatible = "i2c-device";
        status = "okay";
        reg = < 0x50 >;
    };
};


/ {
	chosen {
		ncs,zigbee-timer = &timer2;
	};
};

&timer2 {
	status = "okay";
};
